<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://kit.fontawesome.com/3a46370e2f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.1.1/build/global/luxon.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.js'
        integrity='sha512-Y0hNpPUGIlAoQY6XHJFOCN3OfCPtNtUqiyfOOPbZ8kMrHfyFXv1v6Hn6rMA1G+KmMG/TSLeo0vuULkJZToFu0A=='
        crossorigin='anonymous'></script>

</head>

<body>

    <div id="app">
        <main>
            <!--main-->
            <div id="site-main">
                <!--My container for all the chat
                    change dimension on breakpoint-->

                <div class="chat-container d-flex">
                    <!--chat divided left/right-->

                    <!--left-side of the chat divided in 4 part-->
                    <div class="col-left col-4 col-md-1 not-show">

                        <!--1st part-->
                        <div id="my-user">
                            <div class="card-user col-12 d-flex">
                                <div class="col-3 col-md-12 d-flex">

                                    <a class="lets-show" href="">
                                        <img class="img-100" src="./assets/img/avatar_io.jpg" alt="">
                                        <div class="show-big">
                                            <img class="big-profile" src="./assets/img/avatar_io.jpg" alt="">
                                        </div>
                                    </a>

                                </div>
                                <div class="col-9 card-bye">
                                    <ul class="my-menu card-bye d-flex">
                                        <li><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></li>
                                        <li><i class="fa-solid fa-message fa-2x"></i></li>
                                        <li><i class="fa-solid fa-circle-notch fa-2x"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--2nd part-->
                        <div id="my-not" class="card-user col-12 d-flex card-bye">
                            <div class="col-3 d-flex">
                                <i class="fa-solid fa-bell-slash icon fa-2x"></i>
                            </div>
                            <div class="col-9 card-text">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <p>Attiva notifiche desktop</p>
                            </div>
                        </div>

                        <!--3rd part-->
                        <div id="search-bar" class="col-12 d-flex card-bye" @keyup="userBar()">
                            <i class="col-3 fa-solid fa-magnifying-glass"></i>
                            <!-- Assegno con v-on il valore in input alla stringa vuota searchedValue in js-->
                            <!--Utilizzo keyup enter per far si che venga monitorata e aggiornata la lista di contatti da stampare con searchUser()-->
                            <input type="text" placeholder="Cerca o inizia una nuova chat.." v-model="searchedValue"
                                @keyup="userBar()">
                        </div>

                        <!--4th part-->
                        <!--Faccio un ciclo con v-for in modo da vedere non solo il primo utente ma tutti in fila-->
                        <div id="users-card-container" v-for="(user, index) in printedContacts">
                            <!-- Questa è la card su cui lavorerò con VUE-->
                            <!-- Al @click su un utente assegno ad activeUser il valore dell'indice di quell'utente-->
                            <div class="card-user col-12 d-flex" @click="userActive=index"
                                v-if="printedContacts.length>0">
                                <div class="col-3 col-md-12">
                                    <!--Inserisco dinamicamente l'avatr con VUE-->
                                    <img alt="" class="img-100" :src="user.avatar">
                                </div>
                                <div class="col-9 card-bye">
                                    <div class="card-text d-flex justufy-between">
                                        <div class="d-flex col-8">
                                            <!--Utilizzando Vue visualizzo il nome del mio utente-->
                                            <div class="left-user">
                                                <h5>{{user.name}}</h5>
                                                <!--Visualizzo l'ultimo messaggio inserito nell'array dei messaggi-->
                                                <!--Lo stampo sole se esiste-->
                                                <div v-if="user.messages[(user.messages.length -1)]">
                                                    {{user.messages[(user.messages.length -1)].message}}</div>
                                            </div>
                                        </div>
                                        <!--Utilizzando Vue visualizzola data dell'ultimo messaggio del mio utente del mio utente-->
                                        <!--Lo stampo sole se esiste-->
                                        <p class="hour col-4" v-if="user.messages[(user.messages.length -1)]">
                                            {{user.messages[(user.messages.length -1)].date}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/left-side of the chat-->


                    <!--right-side of the chat-->
                    <!--chat divided up/middle/bottom-->
                    <div class="col-right d-flex col-8 col-md-11 col-12-sm">

                        <!--up part-->
                        <div id="up-right" class="d-flex">
                            <div class="col-2 text-center">
                                <a class="lets-show" href="" v-if="printedContacts.length>0">
                                    <img alt="" class="img-100" :src="printedContacts[userActive].avatar">
                                    <div class="show-big">
                                        <img class="big-profile" :src="printedContacts[userActive].avatar" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="card-text col-9-sm col-8" v-if="printedContacts.length>0">
                                <!--Utilizzando Vue visualizzo il nome del mio utente-->
                                <h5>{{printedContacts[userActive].name}}</h5>
                                <p>Ultimo accesso oggi alle 16:26</p>
                            </div>
                            <div v-else>Nessuna corrispondenza trovata</div>

                            <div class="col-2 col-md-2 d-flex card-bye-sm">
                                <ul class="my-menu d-flex">
                                    <li><i class="fa-solid fa-ellipsis-vertical fa-2x"></i></li>
                                    <li><i class="fa-solid fa-paperclip fa-2x"></i></li>
                                    <li><i class="fa-solid fa-magnifying-glass fa-2x"></i></li>
                                </ul>
                            </div>
                        </div>

                        <!--middle part-->
                        <!--Qui applico un v-for per iterare la lista dei messaggi dell'utente-->
                        <div id="middle-right" class="d-flex" v-if="printedContacts.length>0">
                            <!-- La colonna di destra cambia da right a received
                            Quella di sinistra da left a sent-->
                            <!--Utilizzando la funzione sendOrReceiced assegno la classe coretta al messaggio del mio oggetto-->

                            <div class="square col-7 col-9-sm"
                                v-for="(msg, index) in printedContacts[userActive].messages"
                                :class="sendOrReceived(msg.status)">
                                <div class="msg-w-100">{{msg.message}}</div>
                                <div class="">
                                    <i class="fa-solid fa-chevron-down">
                                        <ul class="hidden-menu">
                                            <!--Al click sull'icona chiamo la funzione removeMessage() a cui passo l'indice dell'array (dato che sto ciclando)-->
                                            <li class="menu-row"><i class="fa-solid fa-toilet"
                                                    @click="removeMessage(index)"></i></li>
                                        </ul>
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div id="middle-right" v-else>
                            <div class=""> Nessun messaggio da stampare</div>
                        </div>

                        <!--bottom part-->
                        <div id="bottom-right" class="d-flex">
                            <div class="emoji card-bye-sm"><i class="fa-regular fa-face-smile fa-2x">
                                    <ul class="hidden-menu-emoji">
                                        <li class="menu-row">
                                            <ul class="d-flex">
                                                <li><i class="fa-solid fa-face-smile fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-tired fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-surprise fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-wink fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-beam fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-tear fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-cry fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-rolling-eyes fa-2x"></i></li>
                                            </ul>
                                        </li>
                                        <li class="menu-row">
                                            <ul class="d-flex">
                                                <li><i class="fa-solid fa-face-smile fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-tired fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-surprise fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-wink fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-beam fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-tear fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-cry fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-rolling-eyes fa-2x"></i></li>
                                            </ul>
                                        </li>
                                        <li class="menu-row">
                                            <ul class="d-flex">
                                                <li><i class="fa-solid fa-face-smile fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-tired fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-surprise fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-wink fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-smile-beam fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-tear fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-sad-cry fa-2x"></i></li>
                                                <li><i class="fa-solid fa-face-rolling-eyes fa-2x"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </i></div>
                            <!-- L'input  è collegato a un oggetto/variabile di appoggio-->
                            <!-- -- Quando clicko il tasto Enter chiamo la funzion sendMessage-->
                            <input type="text" placeholder=" Scrivi un messaggio" v-model="newMessage.message"
                                @keyup.enter="sendMessage()">
                            <div class="emoji card-bye-sm"><i class="fa-solid fa-microphone fa-2x"></i></div>
                        </div>
                    </div>
                    <!--/right-side of the chat-->

                </div>

            </div>
        </main>

    </div>
    
    <script src="./assets/js/contacts.js" type="module"></script>
    <script src="./assets/js/app.js"  type="module"></script>
</body>

</html>